<p style="color: green"><%= notice %></p>

<%= render @type_skill %>

<div>
  <%= link_to "Edit this type skill", edit_type_skill_path(@type_skill) %> |
  <%= link_to "Back to type skills", type_skills_path %>

  <%= button_to "Destroy this type skill", @type_skill, method: :delete %>
</div>
