<p style="color: green"><%= notice %></p>

<%= render @project_technology %>

<div>
  <%= link_to "Edit this project technology", edit_project_technology_path(@project_technology) %> |
  <%= link_to "Back to project technologies", project_technologies_path %>

  <%= button_to "Destroy this project technology", @project_technology, method: :delete %>
</div>
