<p style="color: green"><%= notice %></p>

<%= render @user_user_type %>

<div>
  <%= link_to "Edit this user user type", edit_user_user_type_path(@user_user_type) %> |
  <%= link_to "Back to user user types", user_user_types_path %>

  <%= button_to "Destroy this user user type", @user_user_type, method: :delete %>
</div>
