
<html>
<h1>Page about</h1>

<title>about</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
<body>

<html>
