
<html>
<nav class="nav">
  <a class="nav-link active" aria-current="page" href="/projects">projects</a>
  <a class="nav-link" href="/skills">skills</a>
  <a class="nav-link" href="">Link</a>
  <a> <% if user_signed_in? %>      
  <%= link_to "Sign Out",sign_out_path %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %> </a>
</nav>
<h1>Page about</h1>
 
<title>about</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
    <h2></h2>
    <body>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
<body>

<html>
