<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= project.task %>
  </p>

  <p>
    <strong>Star date:</strong>
    <%= project.star_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= project.end_date %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= project.url %>
  </p>

</div>
